<h1><%= @comment.comment %></h1>

<p>
	<a href="/the_wall">Back to The Wall</a>
	<% if @comment.user.id == session[:user_id] %>
		 | <a href="/comments/<%= @comment.id %>/edit">Edit</a>
	<% end %>
</p>
